* {
    padding: 0;
    margin: 0;
}

:root {
    --cinza1 : #2a2f32;
    --cinza2 : #131c21;
    --box : #33383b;
    --letra : #d4d5d7;
    --border : #535658;
    --chatmsg1: #2a2f32;
    --chatmsg2: #056162;
    overflow: hidden;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    color: var(--letra);
    font-family: "Segoe UI","Helvetica Neue",Helvetica,"Lucida Grande",Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}

.container-all {

}

.left-sect {
    border-right: .1mm solid var(--border);
    width: 30vw;
    height: 100vh;
    float: left;
}

.right-sect {
    width: 69.9vw;
    height: 100vh;
    float: right;
    /* background-color: teal; */
}

 /* - - TOP - -  */

.head {
    width: 100%;
    height: 8.5vh;
    background-color: var(--cinza1);
    position: relative;
}

.head-avatar img {
    width: 67px;
    margin-top: 7px;
    margin-left: 2px;
}

.fa-circle-notch {
    font-size: 20px;
    position: absolute;
    right: 130px;
    top: 20px;
}

.fa-comment-alt {
    font-size: 20px;
    position: absolute;
    right: 80px;
    top: 20px;
}

.fa-ellipsis-v {
    font-size: 20px;
    position: absolute;
    right: 30px;
    top: 20px;
}

/* - - MENU - - */

.search {
    width: 100%;
    height: 7vh;
    background-color: var(--cinza2);
    text-align: center;
}

.search input {
    outline: none;
    background-color: var(--box);
    line-height: 35px;
    width: 380px;
    border: none;
    border-radius: 20px;
    margin-top: 8px;
    padding-left: 70px;
    font-weight: 600;
}

.scrollnav{
    overflow-y: scroll;
    height: 100vh;
}

.box-conv {
    width: 100%;
    height: 15vh;
    background-color: var(--cinza2);
    
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--cinza2);
}

::-webkit-scrollbar-thumb {
    background: var(--box);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--border);
}

/* - - CHAT - -  */

.search {
    border-bottom: .1mm solid var(--border);
}

.box-conv {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    margin-top: -10px;
}

.chat-coll1 {
    display: inline-block;
}

.chat-coll2 {
    display: inline-block;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: .1mm solid var(--border);
}

.chat-coll2-2 {
    display: inline-block;
}

.chat-name, .chat-hour {
    display: inline-block;
}


.chat-avatar {
    margin-left: -5px;
}

.chat-name {
    font-weight:400;
    font-size: 1.3rem;
}

.chat-hour {
    margin-left: 65%;

}

.chat-lastMsg {
    margin-top: 2px;
    font-size: 0.95rem;
    padding-right: 50px;
}

 /* - - MAIN HEAD - -  */

.head {
    display: flex;
}

.main-avatar img {
    margin-top: 10px;
}

.main-name {
    line-height: 60px;
    font-weight: 600;
    font-size: 1.2rem;
}

.fa-search {
    font-size: 20px;
    position: absolute;
    right: 80px;
    top: 20px;
}

/* - - MAIN - - */

.fundoconv {
    margin-bottom: -5px;
}

.container-conv{
    position: relative;
}

.container-conv img {
    width: 100%;
    height: 83.5vh;
}

.chat-data {
    font-size: .9rem;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--cinza1);
    position: absolute;
    top: 10px;
    right: 48%;
}

.chat-msg1 {
    position: absolute;
    background-color: var(--chatmsg1);
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    top: 50px;
    left: 90px;
}

.chat-msg2 {
    position: absolute;
    background-color: var(--chatmsg2);
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    top: 100px;
    right: 90px;
    display: inline-block;
}

.chat-msghour {
    font-size: .7em;
    display: inline-block;
    padding-left: 50px;
    padding-right: 10px;
}

.chat-msghour2 {
    font-size: .7em;
    display: inline-block;
    padding-left: 90%;
    padding-right: 10px;
}

.chat-msghour3 {
    font-size: .7em;
    display: inline-block;
    padding-left: 92%;
    padding-right: 10px;
}

.m2 {
    top: 150px;
}

.m3 {
    top: 200px;
}

.m4 {
    top: 250px;
}

.m5 {
    top: 250px;
    max-width: 380px;
}

.m6 {
    top: 350px;
    max-width: 400px;
}

.m7 {
    top: 450px;
    max-width: 500px;
}

/* - - FOOTER - -  */

.dig {
    width: 100%;
    height: 8.5vh;
    background-color: var(--chatmsg1);
    position: relative;
}

.dig input {
    outline: none;
    background-color: var(--box);
    line-height: 40px;
    width: 770px;
    border: none;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 8px;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Segoe UI","Helvetica Neue",Helvetica,"Lucida Grande",Arial,Ubuntu,Cantarell,Fira Sans,sans-serif
}

.fa-grin-alt {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
}

.fa-paperclip {
    font-size: 25px;
    position: absolute;
    left: 65px;
    top: 17px;
}

.fa-microphone {
    font-size: 25px;
    position: absolute;
    right: 30px;
    top: 17px;
}